body {
    background-color: rgb(90, 151, 231)
}


#rules {
    background-color: rgb(124, 124, 216);
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: large;
    border: 5px solid rgb(234, 130, 255);
    text-align: center;
    width: 30%;
    float: right;
    margin: 0;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
}
#rules ul li {
    list-style-type: circle;
    text-align: left;
}
#rules:hover {
    background-color:rgb(73, 46, 160);
    color: rgb(58, 96, 186);
}


#main-menu {
    background-color:rgb(124, 124, 216);
}
#main-menu ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-family: monospace;
    font-size: larger;
    padding: 15px;
}
#main-menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}
#main-menu li:hover {
    background-color:rgb(6, 209, 255);
    color: white;
    border-radius: 10px;
}

.name-box-stuff {
    background-color:rgb(124, 124, 216);
    color: rgb(255, 236, 252);
    font-family: monospace;
    font-size: larger;
    border: 5px solid rgb(234, 130, 255);
    height: 35%;
    width: 65%;
    float: left;
    margin: 0;
    padding: 5px;
    border-radius: 15px;
}
#name:focus {
    width: 500px;
    outline: none;
}

.header {
    text-align: center;
    color:white;
    font-family: monospace;
    font-size: large;
    background-color: rgb(211, 157, 247);
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
}